* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.section-1 {
    height: 100%;
    width: 100%;
    background-color: #121212;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 10%;
    width: 100%;
}

nav h3 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #E0E0E0;
}

nav h3:hover {
    color: #c5c3c3;
    cursor: pointer;
}

#profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
    margin-top: 10px;
}

#profile-pic img {
    height: 400px;
    border-radius: 100%;
}

#intro {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    height: 30%;
    width: 100%;
    padding-top: 20px;
}

#intro h1 {
    font-size: 5vh;
    background: linear-gradient(55deg, #4facfe, #00f2fe, #02a8b1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

#intro h1:hover {
    background: linear-gradient(55deg, #02a8b1, #00f2fe, #4facfe);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;
    cursor: pointer;
}

#intro h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #E0E0E0;
}

#intro p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #E0E0E0;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

#buttons button {
    background-color: #E0E0E0;
    padding: 12px 22px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
}

#buttons button:hover {
    box-shadow: 0px 0px 20px #E0E0E0;
    cursor: pointer;
    transition: 0.5s;
}

.section-2 {
    height: 100%;
    width: 100%;
    background-color: #02a8b1;
}
