* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.section-1 {
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-color: #121212;
    padding-top: 100px;
}

/* ----------------nav-bar------------------ */

nav {
    position: fixed;
    top: 0;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    /* space between links and hamburger */
    height: 8%;
    width: 100%;
    background-color: #121212;
    padding: 0 30px;
}

/* hide hamburger by default */
.ham-menu {
    display: none;
    cursor: pointer;
    height: 8%;
    width: 100%;
}

.ham-menu img {
    height: 25px;
    width: 25px;
    filter: invert(1);
}

/* normal link styling */
.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #E0E0E0;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c5c3c3;
    cursor: pointer;
}


#profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
}

#profile-pic img {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
}

/* -----------------------intro-section--------------------------- */

#intro {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 35%;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    padding: 0px 20px;
}

#intro h1 {
    font-size: 2.8rem;
    background: linear-gradient(55deg, #4facfe, #00f2fe, #02a8b1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
}

#intro h1:hover {
    background: linear-gradient(55deg, #02a8b1, #00f2fe, #4facfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;
    cursor: pointer;
}

#intro h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #E0E0E0;
    font-family: "Inter", sans-serif;
}

#intro p {
    font-size: 1rem;
    max-width: 600px;
    color: #E0E0E0;
    font-family: "Inter", sans-serif;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#buttons button {
    background: linear-gradient(30deg, #E0E0E0, #BDBDBD, #9E9E9E);
    padding: 12px 25px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #121212;
    font-family: "Inter", sans-serif;
}

#buttons button:hover {
    background: linear-gradient(30deg, #9E9E9E, #BDBDBD, #E0E0E0);
    box-shadow: 0px 0px 20px #E0E0E0;
    cursor: pointer;
}

/* --------------- section-1-responsive----------------- */

/* tablets <=1024px */

@media (max-width: 1024px) {
    nav {
        gap: 30px;
    }

    #profile-pic img {
        height: 300px;
        width: 300px;
    }

    #intro h1 {
        font-size: 2.3rem;
    }
}

/* mobiles <= 768px */

@media (max-width: 768px) {

    nav {
        gap: 20px;
        flex-wrap: wrap;
        padding: 10px 0px;
    }

    nav a {
        font-size: 1.1rem;
    }

    #profile-pic img {
        height: 250px;
        width: 250px;
    }

    #intro h1 {
        font-size: 2rem;
    }

    #intro h2 {
        font-size: 1.1rem;
    }

    #intro p {
        font-size: 0.9rem;
    }

    #buttons {
        flex-direction: column;
        gap: 20px;
    }
}

/* small phones <= 520px */

@media (max-width: 520px) {
    .section-1 {
        padding-top: 10px;
    }

    nav {
        justify-content: space-between;
        padding: 10px 20px;
        height: 9%;
    }

    /* show hamburger */
    .ham-menu {
        display: block;
    }

    /* hide links by default */
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #121212a1;
        background-color: blur(20px);
        position: absolute;
        top: 60px;
        right: 0;
        /* opens below hamburger on right side */
        height: 100vh;
        width: 70%;
        text-align: center;
        padding: 20px 0;
        gap: 20px;
        border-top: 1px solid #333;
        backdrop-filter: blur(10px);
    }

    /* when active class is added */
    .nav-links.active {
        display: flex;
        animation: slideLeft 0.3s ease forwards;
    }

    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(100px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    nav a {
        font-size: 1.1rem;
    }

    #profile-pic img {
        height: 200px;
        width: 200px;
    }

    #intro {
        margin-top: 10px;
    }

    #intro h1 {
        font-size: 1.6rem;
    }

    #intro h2 {
        font-size: 1rem;
    }

    #intro p {
        font-size: 0.85rem;
    }

    #buttons button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}


/* ---------------------------------- Second Page Section ------------------------------------------------ */

.section-2 {
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-color: #121212;
    padding-top: 75px;
    z-index: 0;
}

#section-2-top {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

#section-2-top button {
    padding: 12px 25px;
    border-radius: 100px;
    border: none;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

#btn-1 {
    background: linear-gradient(30deg, rgb(93, 148, 250), rgb(2, 73, 180), rgb(8, 98, 217));
}

#btn-1:hover {
    background: linear-gradient(30deg, rgb(8, 98, 217), rgb(2, 73, 180), rgb(93, 148, 250));
}

#btn-2 {
    background: linear-gradient(30deg, rgb(77, 249, 77), rgb(25, 214, 25), rgb(1, 139, 1));
}

#btn-2:hover {
    background: linear-gradient(30deg, rgb(1, 139, 1), rgb(25, 214, 25), rgb(77, 249, 77));
}

#btn-3 {
    background: linear-gradient(30deg, rgb(245, 187, 78), rgb(214, 150, 32), rgb(164, 108, 3));
}

#btn-3:hover {
    background: linear-gradient(30deg, rgb(164, 108, 3), rgb(214, 150, 32), rgb(245, 187, 78));
}

#section-2-top button:hover {
    scale: 1.05;
    box-shadow: 0px 0px 20px rgba(255, 136, 0, 0.5);
}

/* ---------- Bottom Layout ---------- */
#section-2-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

#section-2-bottom-left {
    position: relative;
    height: 100%;
    width: 40%;
}

#section-2-bottom-left #circle-1,
#section-2-bottom-left #circle-2 {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: linear-gradient(30deg, rgb(93, 148, 250), rgb(2, 73, 180), rgb(8, 98, 217));
    filter: blur(40px);
}

#circle-1 {
    top: 120px;
    right: 50px;
}

#circle-2 {
    top: 120px;
    left: 50px;
}

#circle-3 {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #121212;
    filter: blur(50px);
    top: 120px;
    left: 120px;
}

#section-2-bottom-left img {
    position: absolute;
    height: 350px;
    border-radius: 50%;
    top: 120px;
    left: 121px;
    mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
}

/* ---------- Right Content ---------- */
#section-2-bottom-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 60%;
    padding-top: 10px;
}

#experience,
#education,
#interests {
    width: 85%;
    background-color: #212121;
    border-radius: 20px;
    padding: 20px;
    color: #E0E0E0;
}

#exp-1 {
    margin-bottom: 0.5rem;
}

#experience h1,
#education h1,
#interests h1 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 600;
    margin-bottom: 10px;
    background: linear-gradient(55deg, #4facfe, #00f2fe, #02a8b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#experience h2,
#education h2 {
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
    font-family: "Poppins", sans-serif;
}

#experience h3,
#education h3,
#interests li {
    font-weight: 300;
    font-size: 0.9rem;
    color: #d0cece;
    font-family: "Inter", sans-serif;
}

#experience p,
#education p {
    font-family: 300;
    font-size: 0.7rem;
    color: #E0E0E0;
    font-family: "Inter", sans-serif;
}

#interests ul {
    list-style: none;
}

/* ---------- Responsive Styles ---------- */

/* Tablet and below */
@media (max-width: 1024px) {
    #section-2-bottom-left {
        display: none;
    }

    #section-2-bottom-right {
        width: 100%;
        align-items: center;
    }

    #experience,
    #education,
    #interests {
        width: 90%;
    }
}

/* Mobile devices */
@media (max-width: 520px) {
    .section-2 {
        height: 80vh;
        width: 100%;
    }

    .section-3 {
        height: 250vh;
        width: 100%;
    }

    #section-2-top {
        display: none;
    }

    #experience,
    #education,
    #interests {
        width: 95%;
        padding: 15px;
    }

    #experience h2,
    #education h2 {
        font-size: 1.2rem;
    }

    #experience h3,
    #education h3,
    #interests li {
        font-size: 0.8rem;
    }

    #experience p,
    #education p {
        font-size: 0.6rem;
        margin-bottom: 10px;
    }
}



/* -------------------------- third page ---------------------------- */

.section-3 {
    width: 100%;
    background: radial-gradient(#232222, #131313, #121212);
    padding: 100px 0;
}

.section-3 #section-3-top {
    text-align: center;
    margin-bottom: 3rem;
}

#section-3-top-h1 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1.8rem, 4vw, 3rem);
    background: linear-gradient(30deg, #4facfe, #00f2fe, #02a8b1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

#section-3-top-h3 {
    font-family: "Inter", sans-serif;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-weight: 400;
    color: #E0E0E0;
}

#section-3-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

/* Section Boxes */
#frontend,
#backend,
#devops {
    background-color: #272727;
    border-radius: 20px;
    width: 90%;
    padding: 1.5rem;
}

#section-3-main h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #E0E0E0;
}

/* Card Containers */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

/* Card Design */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 20px;
    background: linear-gradient(145deg, #3b3a3a, #2e2e2e);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
    font-family: "Inter", sans-serif;
    color: #E0E0E0;
    width: clamp(240px, 45%, 350px);
}

/* Card Header */
.card-top {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.icons {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

/* Progress Bar */
.card-main {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.progress-bar {
    flex-grow: 1;
    height: 10px;
    background-color: #963a25;
    border-radius: 20px;
    overflow: hidden;
}

.loader {
    height: 100%;
    background: linear-gradient(90deg, #00ffff, #00bcd4);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    border-radius: 20px;
}

.loader-percentage {
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 992px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .section-3 {
        height: 230vh;
        width: 100%;
        padding: 10px 0px;
    }

    #section-3-top-h1 {
        font-size: 1.6rem;
    }

    #section-3-top-h3 {
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    .card {
        width: 90%;
    }

    .icons {
        height: 35px;
        width: 35px;
    }
}


/* --------------------------------- fourth page -------------------------- */

.section-4 {
    width: 100%;
    background: radial-gradient(#232222, #131313, #121212);
    padding: 100px 0;
}

.section-4-top {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.section-4-top h1 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1.8rem, 4vw, 3rem);
    background: linear-gradient(30deg, #4facfe, #00f2fe, #02a8b1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.section-4-top h3 {
    font-family: "Inter", sans-serif;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-weight: 400;
    color: #E0E0E0;
}

.section-4-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    /* background-color: #00ffff; */
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.project-card {
    position: relative;
    width: 30%;
    background-color: #272727;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(81, 81, 81, 0.6);
}

.project-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.3rem;
    border-radius: 10px;
}

.project-card img:hover {
    filter: blur(10px) brightness(0.5);
    transition: 0.5s;
}

.project-description {
    opacity: 0;
    transition: opacity 0.7s ease;
    position: absolute;
    top: 25%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

.project-card img:hover+.project-description {
    opacity: 1;
}

.project-description h2 {
    font-size: 1.5rem;
    color: #E0E0E0;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

.project-description p {
    width: 90%;
    font-size: 0.9rem;
    color: #E0E0E0;
    font-family: "Inter", sans-serif;
}

.project-card-2,
.project-card-3 {
    color: black;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 0.5rem;
}

.project-skills h3 {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    background: linear-gradient(90deg, #00ffff, #00bcd4);
    border-radius: 20px;
    padding: 1px 5px;
    font-family: "Inter", sans-serif;
}

.project-card-bottom h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #E0E0E0;
    margin-left: 25px;
}

.section-4-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card-bottom a {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: #E0E0E0;
    margin-left: 25px;
    font-size: 1rem;
    margin-bottom: 0.5rem;

}

.project-card-bottom a img {
    height: 20px;
    width: 20px;
    filter: invert(1);
}

.section-4-bottom a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: linear-gradient(30deg, #E0E0E0, #BDBDBD, #9E9E9E);
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #121212;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.section-4-bottom a:hover {
    background: linear-gradient(30deg, #9E9E9E, #BDBDBD, #E0E0E0);
    box-shadow: 0px 0px 20px #E0E0E0;
    cursor: pointer;
}

.section-4-bottom a img {
    height: 20px;
    width: 20px;
}

/* --------------------------- fourth page responsive -------------------- */
@media (max-width: 992px) {
    .project-card {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .section-4 {
        height: 180vh;
        width: 100%;
        padding: 10px 0px;
    }

    .section-5 {
        height: 150vh;
        padding: 0px 0px;
    }

    .section-4-top h1 {
        font-size: 1.6rem;
    }

    .section-4-top h3 {
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    .project-card {
        width: 90%;
    }
}

/* --------------------------------- fifth page------------------------- */

.section-5 {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
}

.section-5-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1100px;
    gap: 3rem;
    justify-content: center;
    background-color: #1E1E1E;
    border-radius: 30px;
    padding: 3rem;
    box-shadow: 0 6px 18px rgba(81, 81, 81, 0.6);
}


.contact-form {
    flex: 1 1 450px;
    display: flex;
    flex-direction: column;
}

.contact-form h1 {
    font-size: 2.2rem;
    color: #E0E0E0;
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
}

.contact-form p {
    color: #BDBDBD;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-form label {
    font-size: 1rem;
    color: #E0E0E0;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.contact-form input,
.contact-form textarea {
    background-color: #272727;
    color: #E0E0E0;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    resize: none;
    outline: none;
    transition: all 0.3s ease;
    font-family: "Inter", sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #00ffff;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.contact-form button {
    align-self: flex-start;
    background: linear-gradient(90deg, #00ffff, #00bcd4);
    color: #121212;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: "Poppins", sans-serif;
}

.contact-form button:hover {
    background: linear-gradient(90deg, #00bcd4, #00ffff);
    box-shadow: 0 0 20px #00ffff;
}


.contact-info {
    flex: 1 1 350px;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
}

.contact-info p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #BDBDBD;
    font-family: "Inter", sans-serif;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.2rem;
}

.contact-info li img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.contact-info a {
    text-decoration: none;
    color: #00ffff;
    font-weight: 500;
    transition: 0.3s ease;
    font-family: "Inter", sans-serif;
}

.contact-info a:hover {
    color: #00bcd4;
}

.back-to-home {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    filter: invert(1);
    background-color: #ff0000;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.cpy-right {
    font-family: "Inter", sans-serif;
    font-size: 0.7rem;
    color: #888;
    /* soft gray */
    position: fixed;
    color: white;
    bottom: 1%;
    left: 1%;
}

/* Responsive */
@media (max-width: 900px) {
    .section-5-container {
        padding: 2rem;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .contact-form,
    .contact-info {
        width: 100%;
    }

    .back-to-home {
        height: 35px;
        width: 35px;
        bottom: 1%;
    }

    .cpy-right {
        font-size: 0.5rem;
    }
}